.flexcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#button {
  height: 75px;
  width: 150px;
  border-radius: 5px;
  border 1px solid grey;
  box-shadow: 2px 2px 2px lightgrey;
  cursor: pointer;
  font-size: 1.2em;
  background: pink;
}

#button:focus {
  outline: none;
}
